@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
    padding: 0;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}

a {
    text-decoration: none;
    color: #3B82F6;
}

.text-blue {
    color: #3B82F6;
}

.hero {
    height: 100vh;
    padding: 1rem;
    display: flex;
    align-items: center;       /* vertical center */
    justify-content: flex-end; /* right side */
}

.hero-title {
    text-align: right;
}

.img-squares {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    z-index: 1000;
}

.title {
    font-size: 5rem;
    margin: 0;
    padding: 0;
}

.subtitle {
    margin-top: -20px;
    font-size: 3.2rem;
}

.left-menu {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 200;
}

.left-menu a {
    display: block;
    margin-bottom: 20px;
    color: #000;
}

.left-menu a:hover {
    color: #3B82F6;
}

.logo {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 100px;
    z-index: 1000;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
}

.content {
    margin-top: 230px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.footer {
    text-align: center;
    line-height: 0.6rem;
    margin-top: 80px;
    padding: 1rem;
}

.btn-project {
    background-color: black;
    padding: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-project:hover {
    background: #3B82F6
}

.btn-project img {
    width: 20px;
    height: 20px;
}

.con-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width: 468px) {

}
